# dependencies (bun install)
node_modules

# output
out
dist
*.tgz
build

# code coverage
coverage

logs/diff
*.log
diff/

# dot-env environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
*.tsbuildinfo

# Finder (MacOS) folder config
.DS_Store

.antigravitycli
